<header class="header">
    <div class="header__inner">
        <h2 class="header__desc">Хотите увидеть SPR в режиме реального времени?</h2>
        <h1 class="header__title">Статистика посещения страницы компании: ООО Серп и Молот </h1>
        <p class="header__text">Рубрика: серпы</p>
    </div>
</header>