<div class="statistic-visits">
    <h3 class="statistic-visits__title">Статистика посещений сайта SPR.ru</h3>
    <ul class="statistic-visits__list">
        <li class="statistic-visits__item">
            <div class="statistic-visits__inner">
                <p class="statistic-visits__text">Всего посещений по России</p>
                <span class="statistic-visits__count">8050</span>
                <span class="statistic-visits__percent">4,7%</span>
            </div>
        </li>
        <li class="statistic-visits__item">
            <div class="statistic-visits__inner">
                <p class="statistic-visits__text">Посещений рубрики по Региону</p>
                <span class="statistic-visits__count">46745</span>
                <span class="statistic-visits__percent">8,2%</span>
            </div>
            <a href="#" class="statistic-visits__button">Купить аудиторию</a>
        </li>
        <li class="statistic-visits__item">
            <div class="statistic-visits__inner">
                <p class="statistic-visits__text">Посещений в Магадане</p>
                <span class="statistic-visits__count">1269</span>
                <a href="#" class="statistic-visits__button">Купить аудиторию</a>
            </div>
        </li>
    </ul>
</div>
