.footer {
    margin: auto;
    max-width: 1280px;
}

    .footer__info {
        display: inline-block;
        padding: 0 20px 0 0;
        background: inline('./assets/help-circle-outline.svg') right center/15px no-repeat;
        margin: 0 0 22px;
        font: 18px RobotoMedium, Helvetica, Arial, sans-serif;
    }

    .footer__inner {
        margin: 0 0 50px;
        padding: 0 0 30px;
        background: #fff;
        box-shadow: 0 0 20px -10px;
    }

        .capabilities__list {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            font: 22px Roboto, Helvetica, Arial, sans-serif;
        }

            .capabilities__item {
                box-sizing: border-box;
                padding: 30px;
                color: #fff #F69112;
                flex: 1;
            }

            .capabilities__item:nth-child(even) {
                background: #E58001;
            }

                .capabilities__item-text {
                    font-size: 16px;
                }

        .logos {
            margin: 0 0 25px;
            display: flex;
        }
        
            .logos__google {
                min-height: 100px;
                background: inline('./assets/LogoGoogle.svg') center no-repeat;
                flex: 1;
            }

            .logos__yandex {
                min-height: 100px;
                background: inline('./assets/LogoYandex.svg') center no-repeat;
                flex: 1;
            }

            .logos__text {
                flex: 2;
                font: 16px robotoRegulat, Helvetica, Arial, sans-serif;
                padding: 0 10px 0 0;
                box-sizing: border-box;
            }

        .footer__copyright {
            margin: 0;
            padding: 0 0 5px;
            color: #A4A4A4;
            text-align: center;
            font: 16px/20px robotoRegular, Helvetica, Arial, sans-serif;
        }

@media (max-width: 720px) {
    .footer__inner {
        margin: 0;
        box-shadow: none;
    }

    .capabilities__list {
        flex-direction: column;
    }

        .capabilities__item {
            width: 100%;
        }

    .logos {
        flex-direction: column;
    }

    .logos__text {
        padding: 0 35px;
    }
}