<footer class="footer">
    <span class="footer__info">Дополнительные рекламные возможности</span>

    <div class="footer__inner">
        <ul class="capabilities__list">
            <li class="capabilities__item">
                <h3 class="capabilities__item-title">«Ремаркетинг»</h3>
                <p class="capabilities__item-text">Ваш банер приследует целевых посетителей по интернету и приводит клиентов.</p>
            </li>
            <li class="capabilities__item">
                <h3 class="capabilities__item-title">«Продвижение в Яндекс и Google»</h3>
                <p class="capabilities__item-text">Страничка наполняется качественным контентом и вы начинаете получать больше посетителей из поисковых систем.</p>
            </li>
            <li class="capabilities__item">
                <h3 class="capabilities__item-title">«Контекстная реклама по запросам Яндекс и Google»</h3>
                <p class="capabilities__item-text">Страничка наполняется качественным контентом и вы начинаете получать больше посетителей из поисковых систем.</p>
            </li>
            <li class="capabilities__item">
                <h3 class="capabilities__item-title">«Реклама в социальных каналах SPR»</h3>
                <p class="capabilities__item-text">Ваш банер приследует целевых посетителей по интернету и приводит клиентов.</p>
            </li>
        </ul>

        <div class="logos">
            <div class="logos__google"></div>
            <div class="logos__yandex"></div>
            <p class="logos__text">Супер предложение о том как собирается статистика сервиса, которая отображается сейчас пользователю. И пару крутых фраз, которые придают очень серьезный вид всему выше изложенному.</p>
        </div>

        <p class="footer__copyright">Все права защищены SPR.ru 2006-2017</p>
    </div>
</footer>