<div class="perfect-reputation">
    <h4 class="perfect-reputation__title">«Идеальная репутация»</h4>
    <div class="perfect-reputation__inner">
        <p class="perfect-reputation__text">29 негативных отзывов будут в прошлом. Теперь вы сможете решать все вопросы без огласки</p>
        <span class="perfect-reputation__price">от 5,000 руб. / квартал</span>
        <p class="perfect-reputation__comment">Рекомендовано большим компаниям</p>
        <div class="perfect-reputation__buttons">
            <a href="#" class="perfect-reputation__pay">Приобрести</a>
            <a href="#" class="perfect-reputation__more">Узнать больше</a>
        </div>
    </div>
</div>
