.perfect-reputation {
    box-sizing: border-box;
    margin: 0 0 30px;
    background: #fff;
    box-shadow: 0 0 20px -10px;
}

    .perfect-reputation__title {
        margin: 0;
        padding: 25px 35px;
        box-sizing: border-box;
        text-align: center;
        color: #444 #DFDFDF;
        font: 25px robotoMedium, Helvetica, Arial, sans-serif;
    }

    .perfect-reputation__inner {
        padding: 30px 35px;
    }

        f.perfect-reputation__text {
            margin: 0 0 15px;
            font: 16px robotoRegular, Helvetica, Arial, sans-serif;
        }

        .perfect-reputation__price {
            margin: 0 0 15px;
            font: 18px robotoMedium, Helvetica, Arial, sans-serif;
        }

        .perfect-reputation__comment {
            font: 14px robotoMedium, Helvetica, Arial, sans-serif;
        }
        
        .perfect-reputation__buttons {
            display: flex;
            justify-content: space-between;
        }
        
            .perfect-reputation__pay, .perfect-reputation__more {
                padding: 10px 30px;
                display: inline-block;
                text-decoration: none;
                font: 16px robotoRegular, Helvetica, Arial, sans-serif;
                color: #000 #F1F1F1;
                opacity: 1;
                transition: opacity .3s;
                
                &:hover {
                    opacity: .6;
                }
            }
            
            .perfect-reputation__pay {
                color: #fff #39C31D;
            }

@media (max-width: 720px) {
    .perfect-reputation {
        margin: 0;
        box-shadow: none;
        border-bottom: solid 1px rgba(184, 184, 184, .3);
    }
}