<div class="countOfComments">
    <div class="countOfComments__header">
        <h4 class="countOfComments__header-title">Количество отзывов оставленных за месяц в рубрике</h4>
        <div class="countOfComments__header-buttons">
            <a href="" class="countOfComments__header-button">Неделя</a>
            <a href="" class="countOfComments__header-button">Прошлые 30 дней</a>
            <a href="" class="countOfComments__header-button">Все время</a>
        </div>
        <div class="countOfComments__graph"></div>
        <div class="countOfComments__list">
            <div class="countOfComments__item">
                <p class="countOfComments__item-text">Посещаемость страницы за сутки</p>
                <span class="countOfComments__item-count">14</span>
                <a class="countOfComments__item-button">Поднять посещаемость</a>

            </div>
            <div class="countOfComments__item">
                <p class="countOfComments__item-text">Посещаемость страницы за 3 месяца </p>
                <span class="countOfComments__item-count">334</span>
            </div>
        </div>
    </div>
</div>
