<div class="countOfComments">
    <div class="countOfComments__header">
        <h4 class="countOfComments__title">Количество отзывов оставленных за месяц в рубрике</h4>
        <div class="countOfComments__counts">
            <div class="countOfComments__wrap">
                <div class="countOfComments__text">Отзывов об организациях в вашей рубрике</div>
                <div class="countOfComments__count">567</div>
            </div>
            <div class="countOfComments__wrap">
                <div class="countOfComments__text">Отзывов о вашей организации</div>
                <div class="countOfComments__count">5671</div>
            </div>
            <div class="countOfComments__wrap-more">
                <div class="countOfComments__more-text">Узнайте больше об услуге</div>
                <a href="#" class="countOfComments__link">«Идеальная репутация»</a>
            </div>
        </div>
    </div>

    <div class="countOfComments__footer">
        <div class="countOfComments__footer-left">
            <ul class="countOfComments__footer-list">
                <li class="countOfComments__footer-item">
                    <span class="countOfComments__footer-text">Негативных отзывов</span>
                    <span class="countOfComments__footer-count">12</span>
                </li>
                <li class="countOfComments__footer-item">
                    <span class="countOfComments__footer-text">Положителеных отзывов</span>
                    <span class="countOfComments__footer-count">2</span>
                </li>
                <li class="countOfComments__footer-item">
                    <span class="countOfComments__footer-text">Вопросов</span>
                    <span class="countOfComments__footer-count">0</span>
                </li>
                <li class="countOfComments__footer-item">
                    <span class="countOfComments__footer-text">Решенных вопросов</span>
                    <span class="countOfComments__footer-count">0</span>
                </li>
                <li class="countOfComments__footer-item">
                    <span class="countOfComments__footer-text">Неподтвержденных отзывов</span>
                    <span class="countOfComments__footer-count">1</span>
                </li>
                <li class="countOfComments__footer-item">
                    <span class="countOfComments__footer-text">Требующих ответа</span>
                    <span class="countOfComments__footer-count">2</span>
                    <a href="#" class="countOfComments__footer-link _reply">Ответить</a>
                </li>
            </ul>
        </div>
        <div class="countOfComments__footer-right">
            <span class="countOfComments__footer-right-text">Активность</span>
            <a href="#" class="countOfComments__footer-link _active">по годам</a>
            <a href="#" class="countOfComments__footer-link">по месяцам</a>
            
            <div class="countOfCommnets__footer-graph"></div>
            <div class="countOfCommnets__footer-years">
                <span class="countOfCommnets__footer-year">2014</span>
                <span class="countOfCommnets__footer-year">2015</span>
                <span class="countOfCommnets__footer-year">2016</span>
                <span class="countOfCommnets__footer-year">2017</span>
            </div>
        </div>
    </div>
</div>
