<div class="representation">
    <h4 class="representation__title">«Представительство»</h4>
    <div class="representation__inner">
        <p class="representation__text">Ваш второй сайт в интернете с ценами, отзывами, фотографиями, oписанием и…</p>
        <span class="representation__price">от	7,500 руб. / (единоразово)</span>
        <p class="representation__comment">Подходит начинающим компаниям</p>
        <div class="representation__buttons">
            <a href="#" class="representation__pay">Приобрести</a>
            <a href="#" class="representation__more">Узнать больше</a>
        </div>
    </div>
</div>
