<div class="monopolist">
    <h4 class="monopolist__title">«Монополист»</h4>
    <div class="monopolist__inner">
        <p class="monopolist__text">Реклама на всех страницах конкурентов в Магадане, которые смотрят более 2346 посетителей в месяц.</p>
        <p class="monopolist__price">от 15,000 руб. / квартал</p>
        <p class="monopolist__comment">Остался 1 рекламный пакет в Магадане</p>
        <div class="monopolist__buttons">
            <a href="#" class="monopolist__pay">Приобрести</a>
            <a href="#" class="monopolist__more">Узнать больше</a>
        </div>
    </div>
</div>
