.monopolist {
    box-sizing: border-box;
    margin: 0 0 30px;
    padding: 0 0 25px;
    background: #fff;
    box-shadow: 0 0 20px -10px;
}

    .monopolist__title {
        margin: 0;
        padding: 25px 35px;
        box-sizing: border-box;
        text-align: center;
        color: #fff #F35353;
        font: 25px robotoMedium, Helvetica, Arial, sans-serif;
    }

    .monopolist__inner {
        padding: 30px 35px;
    }

        .monopolist__text {
            margin: 0 0 15px;
            font: 16px robotoRegular, Helvetica, Arial, sans-serif;
        }

        .monopolist__price {
            font: 18px robotoMedium, Helvetica, Arial, sans-serif;
        }

        .monopolist__comment {
            font: 14px robotoMedium, Helvetica, Arial, sans-serif;
            color: #F02D2D;
        }

@media (max-width: 720px) {
    .monopolist {
        margin: 0;
        box-shadow: none;
        border-bottom: solid 1px rgba(184, 184, 184, .3);
    }
}