.monopolist {
    box-sizing: border-box;
    margin: 0 0 30px;
    background: #fff;
    box-shadow: 0 0 20px -10px;
}

    .monopolist__title {
        margin: 0;
        padding: 25px 35px;
        box-sizing: border-box;
        text-align: center;
        color: #fff #F35353;
        font: 25px robotoMedium, Helvetica, Arial, sans-serif;
    }

    .monopolist__inner {
        padding: 30px 35px;
    }

        .monopolist__text {
            margin: 0 0 15px;
            font: 16px robotoRegular, Helvetica, Arial, sans-serif;
        }

        .monopolist__price {
            margin: 0 0 15px;
            font: 18px robotoMedium, Helvetica, Arial, sans-serif;
        }

        .monopolist__comment {
            margin: 0 0 20px;
            font: 14px robotoMedium, Helvetica, Arial, sans-serif;
            color: #F02D2D;
        }

        .monopolist__buttons {
            display: flex;
            justify-content: space-between;
        }

            .monopolist__pay, .monopolist__more {
                padding: 10px 30px;
                display: inline-block;
                text-decoration: none;
                font: 16px robotoRegular, Helvetica, Arial, sans-serif;
                color: #000 #F1F1F1;
                opacity: 1;
                transition: opacity .3s;

                &:hover {
                    opacity: .6;
                }
            }

            .monopolist__pay {
                color: #fff #F12D2D;
            }

@media (max-width: 720px) {
    .monopolist {
        margin: 0;
        box-shadow: none;
        border-bottom: solid 1px rgba(184, 184, 184, .3);
    }
}