<div class="visits">
    <div class="visits__header">
        <h4 class="visits__header-title">Посещения страницы</h4>
        <div class="visits__header-buttons">
            <a href="" class="visits__header-button">Неделя</a>
            <a href="" class="visits__header-button">Прошлые 30 дней</a>
            <a href="" class="visits__header-button">Все время</a>
        </div>
        <div class="visits__graph"></div>
        <div class="visits__list">
            <div class="visits__item">
                <p class="visits__item-text">Посещаемость страницы за сутки</p>
                <span class="visits__item-count">14</span>
                <a class="visits__item-button">Поднять посещаемость</a>

            </div>
            <div class="visits__item">
                <p class="visits__item-text">Посещаемость страницы за 3 месяца </p>
                <span class="visits__item-count">334</span>
            </div>
        </div>
    </div>
</div>
