<div class="visits-competitors">
    <div class="visits-competitors__nav">
        <a class="visits-competitors__item" id="visits">Посещаемость конкурентов</a>
        <a class="visits-competitors__item" id="ips">IP посетителей</a>
    </div>

    <div class="visits-competitiors__visits"></div>
    <div class="visits-competitiors__ips"></div>
</div>
