<div class="free-opportunity">
    <h3 class="free-opportunity__title">Бесплатные возможности по увеличению посещаемости для начинающих компаний</h3>
    <p class="free-opportunity__text">Выполнение рекомендаций занимает примерно  50 минут. Для вашей страницы обеспечит 30-50% увеличения аудитории в течении</p>
    <ul class="free-opportunity__list">
        <li class="free-opportunity__item">
            <h4 class="free-opportunity__item-text">Укажите цены и описание</h4>
            <a href="#" class="free-opportunity__item-link">Добавьте цены на услуги Разместите ваши акции Добавьте подробное описание компании</a>
        </li>
        <li class="free-opportunity__item">
            <h4 class="free-opportunity__item-text">Опубликуйте дополнительные данные</h4>
            <a href="#" class="free-opportunity__item-link">Добавьте часы работы Добавьте логотип и видео ролик Опубликуйте вакансии</a>
        </li>
        <li class="free-opportunity__item">
            <h4 class="free-opportunity__item-text">Проверьте отзывы и добавьте новые</h4>
            <a href="#" class="free-opportunity__item-link">Добавьте отзывы клинтов о вашей компании Дайте ответы на отзывы и вопросы к организации</a>
        </li>
    </ul>
</div>
